body {
  font-family: Arial, Verdana, Sans-serif; 
  margin: 0px 0px 0px 0px;
} 
img {
    vertical-align: middle;
} 
h2 {
  font-size: 24px;
}
p {
  color: #334049;
}
span {
  padding: 0px 20px;
}
td {
  padding: 10px 20px;
}
#data-region-table {
  height: 480px;
  padding: 10px; 
  overflow:auto;  
  min-width: 400px; 
  box-shadow: 0 2px 6px 2px rgba(0,0,0,.15);
}
.date-portion {
  color: #203080;
  font-size: 15px;
  float: left;
  padding: 20px 20px 20px 20px;
}
.building-name-style {
  font-size: 10px;
  stroke-width: 1px; 
  color: #a7a7a7;
  position: absolute;
  text-indent: 10px;
} 
.building-name-close-style {
  font-size: 10px;
  stroke-width: 1px; 
  color: '#535353';
  position: absolute;
  text-indent: 10px;
} 
.padding {
  padding: 0px 150px 0px 150px;
} 
.pill {
  padding: 10px;
} 
.table-building {
  font-size: 30px;
} 
.table-since {
  font-size: 30px;
} 
.time-portion {
  float: left;
  padding: 20px 20px 20px 20px;
} 
.unit {
  font-size: 15px;
  margin: 0px;
}