body {
  /* border-color: #00ff00; */
  font-family: Arial, Verdana, Sans-serif;
  margin: 0px 0px 0px 0px;
} 
img {
    vertical-align: middle;
} 
h2 {
  font-size: 24px;
}
p {
  color: #334049;
}
td {
  padding: 10px 20px;
}
.article {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}
.ui-accordion-header-active {
	background: #415f73;
  border: 1px solid #334049;
}
#data-region-table {
  padding: 10px; 
  overflow:auto;  
  min-width: 400px; 
}
.date-portion {
  color: #203080;
  font-size: 15px;
  float: left;
  padding: 20px 20px 20px 20px;
}
.building-name-style-far {
  font-size: 10px;
  stroke-width: 1px; 
  color: #a7a7a7;
  position: absolute;
  text-indent: 15px;
} 
.building-name-style-close {
  font-size: 10px;
  stroke-width: 1px;
  color: #535353;
  position: absolute;
  text-indent: 15px;
} 
.padding {
  padding: 0px 150px 0px 150px;
} 
.header_padding {
  padding: 0px 50px 0px 0px;
} 
.table-building {
  font-size: 30px;
} 
.table-since {
  font-size: 30px;
} 
.time-portion {
  float: left;
  padding: 20px 20px 20px 20px;
} 
.unit {
  font-size: 15px;
  margin: 0px;
}
.pill_green {
  border-radius: 25px;
  text-align: 
  center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 128, 0);
}
.pill_red {
  border-radius: 25px; 
  text-align: 
  center; 
  color: rgb(255, 255, 255); 
  background-color: rgb(128, 0, 0); 
}
.alarms_for_operator_th{
  padding-left: 10px;
  padding-right: 10px;
}
.alarms_for_history_th{
  padding-left: 50px;
  padding-right: 50px;
}